$bg-secondary:#6E7681;
$bg-border:#282C31;
input{
    padding: 8px 12px;
    min-width: 492px;
    height: 44px;
    border-radius: 5px;
    border-radius: 70px;
    border: 1px solid rgba(192, 192, 192, 0.637);
}